<!DOCTYPE html>
<html>

<head>
  <h1>
    <%= title %>
  </h1>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="/stylesheets/on_off_switch.css" type="text/css">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
    }

    body {

      background-image: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2411826253,3611229200&fm=200&gp=0.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  </style>
</head>

<body>
  <h2 style="color: #222222">
    <%if(success){%>
      <%= success%>
        <%}%>
          <%if(error){%>
            <%= error%>
              <%}%>
  </h2>
  <div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      <span class="	glyphicon glyphicon-plus"></span>添加</button>
    <form action="/search" role="form" style="display:block; margin-top:15px">
      <input type="text" name="search" placeholder="请输入搜索的用户名">
      <input type="submit" class="btn btn-info" value="搜索">
    </form>
    <table class="table table-condensed" style="margin-top: 15px">
      <caption></caption>
      <thead>
        <tr>
          <th>用户名</th>
          <th>姓名</th>
          <th>手机</th>
          <th>邮箱</th>
          <th>注册日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function (data,index) { %>
          <tr>
            <td>
              <%= data.name%>
            </td>
            <td>
              <%= data.username%>
            </td>
            <td>
              <%= data.phone%>
            </td>
            <td>
              <%= data.email%>
            </td>
            <td>
              <%= data.time%>
            </td>
            <td>
              <a href="/edit/<%= data.name%>/<%= data.username%>/<%= data.phone%>/<%= data.email%>" type="submit" class="btn btn-warning btn-xs">修改</a>
            </td>
            <td>
              <a href="/remove/<%= data.name%>/<%= data.username%>/<%= data.phone%>/<%= data.email%>" type="submit" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <%})%>
      </tbody>
    </table>

    <!-- 添加-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity: 0.8;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">添加新用户</h4>
          </div>
          <div class="modal-body">
            <form method="post" role="form" action="/add">
              <div class="form-group">
                <label for="name">用户名</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="请输入用户名" required>
              </div>
              <div class="form-group">
                <label for="username">姓名</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="请输入姓名" required>
              </div>

              <div class="form-group">
                <label for="password">密码</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码" required>
              </div>
              <div class="form-group">
                <label for="re_password">确认密码</label>
                <input type="password" name="re_password" class="form-control" id="re_password" placeholder="请确认密码" required>
              </div>
              <div class="form-group">
                <label for="phone">手机</label>
                <input type="number" name="phone" class="form-control" id="phone" placeholder="请输入号码" required>
              </div>
              <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="请输入邮箱">
              </div>
              <div class="modal-footer" style="margin-top: 30px">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <input type="submit" class="btn btn-primary" value="提交"></input>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</body>

</html>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/on_off_switch.js"></script>